<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/editlayout}">

     <head>
     	<meta charset="UTF-8">
    	<title>AskDetail</title>
    </head>
    
    <div layout:fragment="content">

        <!-- Call to action section-->
        
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h5 class="display-4 fw-bolder mb-4">Inquiries about the product</h5>
                        <a href="/ask/askEdit" class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder">문의하기</a>
                    </div>
                </div>
            </section>
            
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Q&A</span></h1>
                    </div>
                    <div class="bg-white py-4 mt-auto">
						<form id="frm" method="post" enctype="multipart/form-data" action="/ask/insertAsk">
							<table class="ask detail table">
								<tr>
									<th scope="row" style="text-align:center">NO</th>
									<td th:text="${askListDomain.ibSeq}"></td>
									<th scope="row" style="text-align:center">작성 일자</th>
									<td th:text="${askListDomain.ibCreate}"></td>
								</tr>
								<tr>
									<th scope="row" style="text-align:center">문의 분류</th>
									<td th:text="${askListDomain.cType}"></td>
									<th scope="row" style="text-align:center">작성자</th>
<!--									<td th:text="${session.id}"></td> -->
									<td th:text="${askListDomain.smbId}"></td> 
								</tr>
								<tr>
									<th scope="row" style="text-align:center">제목</th>
									<td colspan="3">
										<input type="text" id="ibTitle" name="ibTitle" style="border:none" th:value="${askListDomain.ibTitle}"></input>
									</td>
								</tr>
								<tr>
									<th scope="row" style="text-align:center">문의 내용</th>
									<td colspan="3" class="view_text">
										<textarea title="내용" id="ibContent" name="ibContent" style="border: none" cols="120" rows="10" th:text="${askListDomain.ibContent}"></textarea>
									</td>
								</tr>
								<tr>
				    				<th scope="row" style="text-align:center">사진 첨부</th>
				    				<td><img src="" id="file" name="file" alt="이미지를 첨부하지 않은 게시글입니다."></td>
				    				<!-- <td><input type="image" id="file" name="file" alt="이미지를 첨부하지 않은 게시글입니다."></td> -->
				    			</tr>
							</table>
							<input type="hidden" name="ibSeq" th:value="${askListDomain.ibSeq}">
						</form>
						
						<div style="text-align:right">
            	    		<input type="button" id="list" value="목록으로" class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" onclick="history.go(-1)">
			                <th:block th:if="${session.id}==${askListDomain.smbId}">
    							<input type="button" id="edit" value="수정하기" class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder">
    						</th:block>
    						<th:block th:if="${session.id}==${askListDomain.smbId} or ${session.id}=='admin'">
    							<input type="button" id="delete" value="삭제하기" class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder">
		    				</th:block>
		    			</div>
						
						<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
						<script type="text/javascript">
							$(document).ready(function(){
								$("#edit").on("click", function(){
									if(confirm("수정하시겠습니까?")){
										var frm = $("#frm")[0];
										frm.action = "updateAsk"
										frm.submit();
									}
								});
								$("#delete").on("click", function(){
									if(confirm("삭제하시겠습니까?")){
										var frm = $("#frm")[0];
										frm.action = "deleteAsk"
										frm.submit();
									}
								});
							});
						</script>
						
                    </div>
                </div>
            </section>

    	
    
        <!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
    </div>

</html>