<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
     <head>
    	<title>about</title>
    </head>
    <div layout:fragment="content">

        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h5>문의사항을 작성해주세요</h5>
                </div>
            </div>
        </section>

    	<table>
    		<tr>
    			<th>문의사항</th>
    			<td>
    				<input type="text" placeholder="제목" required/>
    			</td>
    		</tr>
    		<tr>
    			<th>문의 분류</th>
    			<td>
    				<form>
    					<select name="ask">
    						<option value="1">상품 주문</option>
    						<option value="2">상품 배송</option>
    						<option value="3">반품 및 교환</option>
    					</select>
    				</form>
    			</td>
    		</tr>
    	</table>
    
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </div>
</html>
