<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/editlayout}">

     <head>
     	<meta charset="UTF-8">
    	<title>AskEdit</title>
    </head>
    
    <div layout:fragment="content">

        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
	                <h5 class="display-4 fw-bolder mb-4">Q&A</h5>
   	                <h4 class="mb-0"><span>문의 분류에 알맞게 문의사항을 작성해주시기바랍니다.</span></h4>
                </div>
            </div>
        </section>
        
        <!-- AskEdit Section -->
        <section class="py-5">
            <div class="container px-5 mb-5">
	            <div class="text-center mb-5">

	            </div>
	            <div class="bg-white py-4 mt-auto" >
	            
	            	<form id="frm" name="frm" method="post" enctype="multipart/form-data" action="/ask/insertAsk">
	            		<table class="ask_Edit" style="margin-left:50px">
	            			<tr>
	            			
	            				<td><h5><b>작성자 : &nbsp;</b></h5></td>
	            				<td><h5><b>[&nbsp;<span th:text=${session.id}></span>&nbsp;]</b></h5></td>
	            				<td><input type="hidden" th:value="${session.id}" id="smbId" name="smbId"></td>
		        			</tr>
		        			<tr>
				    			<td><h5><b>문의 분류&nbsp;</b></h5></td>
				    			<td colspan="4">
			    					<select id="cType" name="cType" style="width:250px">
			    						<option value="1">상품 주문</option>
			    						<option value="2">상품 배송</option>
			    						<option value="3">반품 및 교환</option>
			    					</select>
			    				</td>
				    		</tr>
		    				<tr>
				    			<td><h5><b>문의 제목&nbsp;</b></h5></td>
			    				<td colspan="4">
				    				<input type="text" id="ibTitle" name="ibTitle" style="width:500px" placeholder="제목" required/>
				    			</td>
				    		</tr>
				    		<tr>
				    			<td><h5><b>파일 첨부&nbsp;</b></h5>
				    			<td><input type="file" id="file" name="file" multiple /></td>
				    		</tr>
				    		<tr>
				    			<td style="vertical-align:top"><h5><b>문의 내용&nbsp;</b></h5></td>
				    			<td colspan="4"><textarea id="ibContent" name="ibContent" cols="120" rows="15"></textarea></td>
				    		</tr>
			    		</table>
   		            	<div style="text-align:center">
            	    		<button class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" type="submit" id="submit">문의하기</button>
    						<input type="button" id="reset" value="취소하기" class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder">
		    			</div>
			    	</form>
			    	
			    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
					<script type="text/javascript">
						$(document).ready(function(){
							$("#reset").on("click", function(){
								if(confirm("작성을 취소하시겠습니까?")){
									history.go(-1);
								}
							});
						});
					</script>
            	</div>
            </div>
        </section> 

    	
    
        <!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
    </div>

</html>