<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/editlayout}">
     <head>
    	<title>Answer</title>
    </head>
    
    <body>
    <div layout:fragment="content">

            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
					<div class="container px-5 mb-5">
						<div class="bg-success py-4 mt-auto text-white">
			            	<form id="frm" name="frm" method="post" action="ask/insertAnswer">
								<table>
									<input type="hidden" th:text="${askListDomain.ibSeq}"/>
										<th>
						                    <div style="margin:auto; text-align:center;">
												<h5><b>답변</b></h5>
												<a href="ask/insertAnswer"">
													<input type="button" id="insertAnswer" class="btn btn-outline-dark" value="답변하기">
												</a>
											</div>
										</th>
										<td>
											<div id="inAnswer" name="inAnswer">
												<textarea style="border: none" cols="120" rows="15"></textarea>
											</div>
										</td>
								</table>
							</form>
		
						</div>
					</div>
                </div>
            </section>

    </div>
    </body>
</html>
