<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
     <head>
    	<title>about</title>
    </head>
    <div layout:fragment="content">
   
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Review</span></h1>
                </div>
                
            </div>
   
        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover">
              
            <colgroup>
                <col style="width: 5%"/>
                <col style="width: 50%"/>
                <col style="width: 10%"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
            </colgroup>
            <thead>
                <tr>
                    <th>NO</th>
                    <th>제목</th>
                    <th>아이디</th>
                    <th>작성 날짜</th>
                    <th>수정 날짜</th>
                </tr>
            </thead>
                    <tbody>
                        <tr th:each="item : ${items}">
                  <td th:text="${item.rbSeq}"></td>
                  <td><a th:text="${item.rbTitle}" th:href="@{/detail(rbSeq = ${item.rbSeq})}"></a></td>
                  <td th:text="${item.smbId}"></td>
                  <td th:text="${item.rbCreate}"></td>
                  <td th:text="${item.rbUpdate}"></td>
              </tr>
              
                    </tbody>
                </table>
                
                <th:block th:if="${detail}">   
        <h1 style="padding: 30px 0;" th:text="${detail.rbTitle}"></h1>
        <div style="text-align: right;">
            <span style="color: #00a2be;">글번호 </span> <span th:text="${detail.rbSeq}"></span> <span style="color: #00a2be"> | </span>
            <span style="color: #00a2be">글쓴이 </span> <span th:text="${detail.smbId}"></span> <span style="color: #00a2be"> | </span> 
            <span th:text="${detail.rbCreate}"></span> <span style="color: #00a2be"> | </span> 
            <span th:text="${detail.rbUpdate}"></span> 
        </div>
        
        <div>
            <p style="padding: 30px 0;" th:text="${detail.rbContent}"></p>
            <ul th:if="${files}"  th:each="file : ${files}" style="display: inline-block;margin-bottom: 5px;">
                <li> <img id="imgId" th:src="@{${file.upNewFileName}}" alt="첨부이미지" height="280" /></li>
            </ul>
        </div>

        <div style="padding: 30px 0; text-align:right;">
		        <a th:href="@{/edit(rbSeq = ${detail.rbSeq})}"><button>수정</button></a>
            <a th:href="@{/remove(rbSeq = ${detail.rbSeq})}"><button>삭제</button></a>
            <a th:href="@{resume}"><button style="background-color: #00a2be; color: white; margin-left: 20px">목록으로</button></a>
        </div>
        
    </th:block>
            </div>
            
          <div class="pull-right" style="width:100px;">
            <a href="/board" class="btn btn-primary btn-block">글쓰기</a>
        </div>
          
        </div>
        
        
    </div>
    
    
</html>