<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
     <head>
    	<title>reviewList</title>
    </head>
    
    <body>
    <div layout:fragment="content">
    
    
   
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Review</span></h1>
                </div>
                
            </div>
   
        <div class="bg-white container-fluid">
            <div class="row">
                <table class="review table">
             <th:block th:if="${lists}">
            <colgroup>
                <col style="width: 5%"/>
                <col style="width: 50%"/>
                <col style="width: 10%"/>
                <col style="width: 15%"/>
                <col style="width: 15%"/>
            </colgroup>
            <thead>
                <tr>
                    <th style="text-align: center;">NO</th>
                    <th style="text-align: center;">제목</th>
                    <th style="text-align: center;">아이디</th>
                    <th style="text-align: center;">작성 날짜</th>
                    <th style="text-align: center;">수정 날짜</th>
                </tr>
            </thead>
            	<tbody>
                    <tr th:each="list : ${lists}">
						<td style="text-align:center" th:text="${list.rbSeq}"></td>
						<td class="title" style="text-align:center; ">
							<a href="/review/openReviewDetail?rbSeq="
							   th:attrappend="href=${list.rbSeq}"
							   th:text="${list.rbTitle}"
							   style="text-decoration: none; color: black;">
							</a>
						</td>			
						<td style="text-align:center" th:text="${list.smbId}"></td>
						<td style="text-align:center" th:text="${list.rbCreate}"></td>
						<td style="text-align:center" th:text="${list.rbUpdate}"></td>
					</tr>
					</th:block>
                </tbody>
                </table>
                
                
            </div>
            
          
          
        </div>
        
        <div style="text-align: right;" >
            <a href="/review/reviewWrite" class="btn btn-primary btn-block">글쓰기</a>
        </div>

        
    </div>
    
    </body>
</html>