<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <title>about</title>
</head>
<body>
<div layout:fragment="content">

    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h1 class="fw-bolder">Welcome!</h1>
                    <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                    
                   
                    <form id="signupForm" role="form" action="/signup" method="post">
                    <div class="form-floating mb-3">
                                <input class="form-control" id="username" type="text" name="smbId" placeholder="Enter your username..." data-sb-validations="required" />
                                <label for="username">Username</label>
                            </div>
                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" type="password" name="smbPw" placeholder="Enter your password..." data-sb-validations="required" />
                                <label for="password">Password</label>
                            </div>
                            
                            <th>
								<input type="hidden" id="smbLevel" name="smbLevel" value="2" />
								<input type="hidden" id="smbIp" name="smbIp" value="127.0.0.1"/>
								<input type="hidden" id="smbUse" name="smbUse" value="Y" />
							</th>
                            
                            <div class="d-grid"><button class="btn btn-primary" id="submitButton" type="submit">SIGNUP</button></div>
                            
                            <div id="warningMessage" class="text-danger" style="display: none;">이미 사용중인 id입니다. 다른 id로 입력해주세요</div>
                    </form>
                    </div>
                </div>
                </div>
             </div>
          
     </section>
</div>
</body>
</html>