<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.AskMapper">

	<!-- ask게시판 리스트 보이기 -->
	<select id="selectAskList" resultType="com.co.kr.domain.AskListDomain">
	<![CDATA[
		SELECT kb.ib_seq, C.c_type, kb.ib_title, kb.smb_id, kb.ib_content,  kb.ib_create, kf.ib_file_path
		FROM shop.ask_b AS kb
		JOIN shop.combox AS C ON kb.num = C.num
		LEFT JOIN (
		    SELECT ib_seq, MIN(ib_file_path) AS ib_file_path
		    FROM shop.ask_f
		    WHERE ib_file_path IS NULL
		    GROUP BY ib_seq
		) AS kf ON kb.ib_seq = kf.ib_seq
		ORDER BY kb.ib_seq DESC
	]]>
	</select>

	<!-- ask 게시판 파일 insert문 -->
	<insert id="insertAskFileList" parameterType="com.co.kr.domain.AskFileDomain">
    	INSERT INTO shop.ask_f (ib_seq, smb_id, ib_orig_file, ib_file_path, ib_file_size)
    	VALUES
    	<foreach collection="list" item="item" separator=",">
        	(#{item.ibSeq}, #{item.smbId}, #{item.ibOrigFile}, #{item.ibFilePath}, #{item.ibFileSize})
    	</foreach>
	</insert>

	<!-- ask 게시판 게시글 insert문 -->
	<insert id="insertAsk" parameterType="com.co.kr.domain.AskListDomain" useGeneratedKeys="true" keyProperty="ibSeq">
		INSERT INTO shop.ask_b (ib_seq, num, ib_title, smb_id, ib_content, ib_create)
		VALUES (#{ibSeq}, #{cType}, #{ibTitle}, #{smbId}, #{ibContent}, NOW())
	</insert>
 		
	<!-- ask : 선택 게시글 파일 조회 -->
	<select id="selectAskFileList" parameterType="int" resultType="com.co.kr.domain.AskFileDomain">
	    SELECT ib_seq, smb_id, ib_orig_file, FORMAT(ROUND(ib_file_size / 1024),0) AS ib_file_size
	    FROM shop.ask_f
	    WHERE ib_seq = #{ibSeq}
	</select>
	
	<!-- ask : 선택 게시글 조회 -->
	<select id="selectAskDetail" parameterType="com.co.kr.domain.AskListDomain" resultType="com.co.kr.domain.AskListDomain">
	    SELECT kb.ib_seq, C.c_type, kb.ib_title, kb.smb_id, kb.ib_content, kb.ib_create, kf.ib_file_path
	    FROM shop.ask_b AS kb
	    JOIN shop.combox AS C ON kb.num = C.num
	    LEFT JOIN shop.ask_f AS kf ON kb.ib_seq = kf.ib_seq
	    WHERE kb.ib_seq = #{ibSeq}
	</select>

	
	<!-- ask : 게시글 수정 -->
	<update id="updateAsk" parameterType="com.co.kr.domain.AskListDomain">
	    UPDATE shop.ask_b
	    SET ib_title = #{ibTitle}, ib_content = #{ibContent}
	    WHERE ib_seq = #{ibSeq}
	</update>
	
	<!-- ask : 게시글 삭제 -->
	<delete id="deleteAsk" parameterType="int">
	    DELETE FROM shop.ask_b
	    WHERE ib_seq = #{ibSeq}
	</delete>
	
</mapper>