<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.AskMapper">

	<!-- 문의게시판 리스트 -->
	<select id="selectAskList" resultType="com.co.kr.domain.AskListDomain">
		SELECT ib_seq, c_type, ib_title, smb_id, ib_create
		FROM shop.ask_view order by ib_seq desc
	</select>
	
	 
	<!-- 문의게시판 insert -->
	<!-- 
	<insert id="insertAsk" parameterType="com.co.kr.domain.AskListDomain">
        INSERT INTO shop.ask_b (num, ib_title, smb_id, ib_content, ib_create)
        VALUES ( 
			#{num}, #{ibTitle}, 'admin', #{ibContent}, NOW()
        )
    </insert>
 -->
</mapper>