<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.ReviewMapper">

	<!--select all-->
	<select id="selectReviewList" resultType="com.co.kr.domain.ReviewListDomain">
		SELECT *
    	FROM shop.review_b
    	ORDER BY rb_seq ASC
	</select>
	
	<!-- insert문 -->
	<insert id="insertReview" parameterType="com.co.kr.domain.ReviewListDomain">
        INSERT INTO shop.review_b (rb_seq, rb_title, smb_id, rb_content, rb_create, rb_update)
        VALUES (#{rbSeq}, #{rbTitle}, #{smbId}, #{rbContent}, NOW(), NOW())
    </insert>
    
    <insert id="insertReviewFileList" parameterType="java.util.List">
        INSERT INTO shop.review_f (rb_seq, rb_orig_file, rb_file_path, rb_file_size)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.rbSeq}, #{item.rbOrigFile}, #{item.rbFilePath}, #{item.rbFileSize})
        </foreach>
    </insert>
    

    <!-- 상세 보기 -->
    <select id="selectReviewDetail" parameterType="int" resultType="com.co.kr.domain.ReviewListDomain">
    	SELECT rb_seq, smb_id, rb_title, rb_content, rb_create, rb_update
    	FROM shop.review_b
    	WHERE rb_seq = #{rbSeq}
	</select>
	
	
	
	<!-- 게시글 수정 -->
	<update id="updateReview" parameterType="com.co.kr.domain.ReviewListDomain">
	    UPDATE shop.review_b
	    SET rb_title = #{rbTitle}, rb_update = Now()
	    WHERE rb_seq = #{rbSeq}
	</update>
	
	
	<!-- 게시글 삭제 -->
	<delete id="deleteReview" parameterType="int">
	    DELETE FROM shop.review_b
	    WHERE rb_seq = #{rbSeq}
	</delete>
	
	<!-- 삭제 후 rb_seq -->
	<select id="ReviewSeq" resultType="int">
    	SELECT COALESCE((SELECT MIN(seq + 1) FROM (
        	SELECT 0 AS seq
        	UNION ALL
        	SELECT rb_seq FROM shop.review_b
    	) AS t1 WHERE seq + 1 NOT IN (SELECT rb_seq FROM shop.review_b)), 1) AS rbSeq
	</select>
	
	
	
	
	
	

</mapper>