<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.ReviewMapper">

	<!--select all-->
	<select id="selectReviewList" resultType="com.co.kr.domain.ReviewListDomain">
	  SELECT rb_seq, smb_id, rb_title, rb_content, rb_create, rb_update
	  FROM shop.review_b order by rb_update desc
	</select>
	
	<!-- content insert -->
	<select id="insertReview" resultType="com.co.kr.domain.ReviewListDomain" parameterType="map">
    	SELECT rb_seq, smb_id, rb_title, rb_content, rb_create, rb_update
    	FROM shop.review_b where rb_seq = #{rbSeq}
	</select>
	
	

</mapper>