<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.UserMapper">

    <!-- 전체 리스트 조회 -->
    <select id="smbSelectList" resultType="com.co.kr.domain.LoginDomain" parameterType="java.util.Map">
        SELECT * FROM shop.s_member WHERE smb_seq = #{smbSeq}
    </select>

    <!-- 전체 데이터 조회 -->
    <select id="smbAllList" resultType="com.co.kr.domain.LoginDomain">
        SELECT smb_seq, smb_id, smb_pw, smb_level, smb_ip, smb_use, smb_create, smb_update 
        FROM shop.s_member
        ORDER BY smb_seq DESC
    </select>

    <!-- 전체 갯수 조회 -->
    <select id="smbGetAll" resultType="int">
        SELECT COUNT(*) FROM shop.s_member
    </select>

    <!-- 중복 체크 -->
    <select id="smbDuplicationCheck" resultType="int" parameterType="java.util.Map">
        SELECT COUNT(*) FROM shop.s_member WHERE smb_id = #{smbId} AND smb_pw = #{smbPw}
    </select>

    <!-- ID 정보 가져오기 -->
    <select id="smbGetId" resultType="com.co.kr.domain.LoginDomain" parameterType="java.util.Map">
        SELECT * FROM shop.s_member WHERE smb_id = #{smbId}
    </select>
    
    
    <!-- 회원가입 -->
	<insert id="openSignup" parameterType="com.co.kr.domain.LoginDomain">
		INSERT INTO shop.s_member (smb_seq, smb_id, smb_pw, smb_level, smb_ip, smb_use, smb_create, smb_update)
    	VALUES (#{smbSeq}, #{smbId}, #{smbPw}, #{smbLevel}, '127.0.0.1', #{smbUse}, NOW(), NOW())
	</insert>
</mapper>