<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/editlayout}">
     <head>
     	<meta charset="UTF-8">
    	<title>ReviewWrite</title>
    </head>
    
    <div layout:fragment="content">
    
    <!-- Page Content-->
    	<div class="container px-5 my-5">
			<div class="text-center mb-5">
				<h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Review</span></h1>
			</div>
                
		</div>
    
	</div>

</html>
